.nav-bar {
    display: flex;
    width: 300px;
    flex-direction: column;
    height: 970px;
    
    color: white;
    background-color: #061941;
  }

header{
    text-align: left;
    margin-top: 30px;
    margin-left: 5px;
    font-size:xx-large;
}

.nav-bar button {
    border: none;
    background-color: #061941;
    color: white;
    padding: 12px 5%;
    font-size:larger;
    text-decoration: none;
    text-align: left;
}

/* Change color on hover */
.nav-bar button:hover {
    background-color: #ddd;
    color: black;
}

.footer{
    margin-top: auto;
    margin-bottom: 15%;
    padding: 12px;
    background-color: rgba(236, 221, 221, 0.2);
    height: 5%;
}
.nav-bar img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    float: left;
    
}

.info{
   
    margin-left: 50px;
}
@media screen and (max-width: 1000px) {
    .nav-bar {   
      
      width: 100%;
    }
  }